<h1>MENU</h1>

<div class="card cardtbc" style="width: 18rem;">
   <%= image_tag("food.jpeg", class: "card-img-top")  %>
  <div class="card-body">
    <h5 class="card-title">Sandwiches | Appertizes | Drinkes</h5>
    <p class="card-text"></p>
    <a href="/products" class="btn btn-primary">Food Menu</a>
  </div>
</div>

<div class="card cardtbc" style="width: 18rem;">
  <%= image_tag("cap.jpeg", class: "card-img-top")  %>
  <div class="card-body">
    <h5 class="card-title">Buy one of ours Souvenirs</h5>
    <p class="card-text"></p>
    <a href="/products" class="btn btn-primary">Souvenirs</a>
  </div>
</div>
</div>


