<h1>MENU</h1>
<% @products.each do |product| %>
    <div>
    <ul class="list-group row">
    <% puts product%>
        <li class="list-group-item column"><%= link_to product.name, product_path(product) %></li>
        <div class="column">
        <%# logic to show even without photo %>
            <% if product.img_url.attached? %>
                <%= image_tag product.img_url.variant(resize: '500x500') %>
            <% end %>
        </div>
    </div>
    </ul>
<% end %>



<div>
<%= link_to(
      "+ New Product",
       new_product_path,
      class: 'btn btn-info',
       
    )
    %>
</div>
<%#= link_to 'New Product',  new_product_path %>
