<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <ul class='navbar-nav mr-auto '>
      
        <div class="topnav">
          <%= image_tag("logoTBC.png", width: '150px') %>    
          <a class="active" href="/">Home</a>
                
          <a class="active" href="/">Who we are</a>
            
          <a href="/products/show">Menu</a>
          <a href="/products">Make Order</a>
          <a href="/contact_us">Contact</a>
          <a href="/session/new">Log in</a>
        </div> 
  </ul>
</div>


   
 
</nav>