<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <ul class='navbar-nav mr-auto '>
      
        <div class="topnav">
          <%= image_tag("logo_tbc.png", width: '150px') %>     
          <a class="active" href="/">Home</a>
                
          <a class="" href="/whoweare">Who we are</a>

          <a href="/menu">Food Menu</a>
          <%# <a href="/products">Food Menu</a> %>
          <a href="/cart">Your Orders</a>
          <a href="/contact">Contact</a>
          <a href="/session/new">Log in</a>
        </div> 
  </ul>
</div>


   
 
</nav>