<%# <nav class='navbar navbar-expand-lg navbar-light'> %>
<nav class=''>
  <ul class='navbar-nav mr-auto '>
        <div class="topnav">
          <%= image_tag("logo_tbc.png", width: '150px') %>     
          <a class="btn btn-success" href="/">Home</a>    
          <a class="btn btn-success" href="/whoweare">Who we are</a>
          <a class="btn btn-success" href="/menu">Food Menu</a>
          <a class="btn btn-success" href="/cart">Your Orders</a>
          <a class="btn btn-success" href="/ordes">Line Itens</a>
          <a class="btn btn-success" href="/contact">Contact</a>
          <a>
          <%# Log In button %>
            <% if user_signed_in? %>
              <%# this button created by link_to DELETE /session %>
              <%= link_to "Logout", session_path, method: :delete, class: 'btn btn-danger' %>
              <%#= current_user.first_name %> <%#= current_user.last_name %>
            <% else %>
              <%= link_to "Log In", new_session_path, class: 'btn btn-success'%>
            <% end %>
            

  </div>

  </ul>
</div>


   
 
</nav>